In [8]:
## "Question 1: Create a tuple of first 10 natural numbers"
natural_number=tuple(range(1,11))
print(natural_number)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [10]:
## Question 2: Find the length of tuple (1, 2, 3, 4, 5, 6, 7, 8, 9, 10
t=(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
length_of_tuple=len(t)
print(length_of_tuple)

10

In [11]:
## Question 3: Access the 3rd element from tuple ('a', 'b', 'c', 'd', 'e')
t=('a', 'b', 'c', 'd', 'e')
index=t[2]
print(index)

c

In [15]:
## Question 4: Find the maximum value in tuple (23, 45, 12, 67, 34, 89, 56)
t=(23, 45, 12, 67, 34, 89, 56)
max_of_value=max(t)
print(max_of_value)

89

In [17]:
## Question 5: Count how many times 5 appears in (1, 5, 2, 5, 3, 5, 4, 5, 6)
t=(1, 5, 2, 5, 3, 5, 4, 5, 6)
count_of_t=t.count(5)
print(count_of_t)

4

In [19]:
## Question 6: Create a tuple of mixed data types (integer, float, string, boolean)
mixed_tuple = (10, 3.14, "Python", True)
print(mixed_tuple)

(10, 3.14, 'Python', True)

In [23]:
## Question 7: Find the index of element 'python' in ('java', 'python', 'c++', 'javascript')
t=('java', 'python', 'c++', 'javascript')
index_of_python=t.index("python")
print(index_of_python)

1

In [26]:
##Question 8: Check if 25 exists in tuple (10, 20, 30, 40, 50)
t=(10, 20, 30, 40, 50)
find_25=25
for i in t:
    if i==find_25:
        print("yes 25 is in the list")
else:

    print("no")

no

In [27]:
##Question 9: Create a tuple of first 5 even numbers")

even=tuple(range(0,10,2))
print(even)

(0, 2, 4, 6, 8)

In [28]:
## Question 10: Find the average of numbers in tuple (15, 23, 31, 42, 56, 78)"
t=(15, 23, 31, 42, 56, 78)
avg_of_tuple=sum(t)/len(t)
print(avg_of_tuple)

40.833333333333336